<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="6.0.16" />
  <package id="JsonFx" version="2.0.1106.2610" />
  <package id="MvvmLight" version="3.1.1" />
  <package id="Newtonsoft.Json" version="4.5.4" />
  <package id="TileSlider" version="1.0.2.0" />
</packages>